@charset "UTF-8";
/*@import "_variables";
@import "_mixins";
@import "_queries";
// ------ FONTS ---------
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);*/
@import url(../css/font-awesome_4.7.min.css);
/********** Template CSS **********/
:root {
  --cheerful: #48FCD4; /* 31EFBB */
  --secondary: #545454;
  --cherry: blueviolet;
}

/* Shared */
.icon {
  color: transparent;
  /* &.black {
  	&::before {
  		-webkit-font-smoothing: antialiased;
  		font-family: 'FontAwesome';
  		font-size: 1.5rem;
  		color: black;
  	}
  	&:hover {
  		text-align: center;
  		padding-top: 5px;
  		border-radius: 5px;
  		background-color: var(--cheerful);
  		transition: background-color 0.25s ease-in-out;
  	}
  } */
}
.icon::before {
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-size: 2rem;
  color: var(--cheerful);
}
.icon:hover {
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  background-color: var(--secondary);
  transition: background-color 0.25s ease-in-out;
}

.icon > .label {
  display: none;
}

/* CSS Blocks */
body {
  font-family: "Fjalla One", sans-serif;
}

.h2_intro {
  font-size: 1.5rem;
  color: var(--secondary);
}

header {
  color: #fff;
  background-color: #000;
}
header .icon-box {
  width: 130px;
  margin: 0 auto;
}
header .icon-list {
  padding: 0;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  justify-content: space-around;
}

#intro {
  /* ß */
}

#projects {
  /* display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center; */
  /* .card__like {
  	width: 18px;
  } */
}
#projects .card-1 .card__img, #projects .card-1 .card__img--hover {
  background-image: url("../img/portfolio/projects/gema.png");
}
#projects .card-2 .card__img, #projects .card-2 .card__img--hover {
  background-image: url("../img/portfolio/projects/winners.jpg");
}
#projects .card-3 .card__img, #projects .card-3 .card__img--hover {
  background-image: url("../img/portfolio/projects/thermo_hero.jpg");
}
#projects .card-4 .card__img, #projects .card-4 .card__img--hover {
  background-image: url("../img/portfolio/projects/investments.png");
}
#projects .card-5 .card__img, #projects .card-5 .card__img--hover {
  background-image: url("../img/portfolio/projects/to-do-list.png");
}
#projects .card-6 .card__img, #projects .card-6 .card__img--hover {
  background-image: url("../img/portfolio/projects/salad.jpg");
}
#projects .card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
#projects .card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}
#projects .card__clock-info {
  float: right;
}
#projects .card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#projects .card__info-hover {
  position: absolute;
  padding: 6rem 2rem;
  width: 100%;
  opacity: 0;
  top: 0;
}
#projects .card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
#projects .card {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: auto;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
#projects .card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
  /* bottom: 9rem; //!!!
  transition: bottom 0.25s ease-in-out; */
}
#projects .card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}
#projects .card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}
#projects .card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}
#projects .card__by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
#projects .card-stack {
  font-weight: 600;
  text-decoration: none;
  color: var(--cherry);
}
#projects .line {
  color: gray;
}
#projects .card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}
#projects .card:hover .card__info {
  background-color: transparent;
  position: relative;
}
#projects .card:hover .card__info-hover {
  opacity: 1;
}

#footer {
  color: #fff;
  background-color: #000;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
}
#login .wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .wrapper .form-box {
  width: 100%;
  padding: 40px;
}
#login .wrapper .form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
#login .wrapper .form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}
#login .wrapper .form-box .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}
#login .wrapper .form-box .input-box .icon ion-icon {
  color: #fff;
}
#login .wrapper .form-box .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
#login .wrapper .form-box .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
#login .wrapper .form-box .input-box input:focus ~ label, #login .wrapper .form-box .input-box input:valid ~ label {
  top: -5px;
}
#login .wrapper .form-box .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #162938;
  font-weight: 700;
}
#login .wrapper .form-box .btn:hover {
  background: #162938;
  color: #fff;
  transition: background-color 1000ms linear;
  transition: color 1000ms linear;
}

/*# sourceMappingURL=style.css.map */
